$color-purple: #c400ff;
$color-purple-light: #ff5403;
$color-pink: #f637ec;
$color-pink-light: #fb7afc;
$color-pink-pastel: #ffdefa;
$color-blue: #5ee6eb;
$color-blue-pastel: #6b7aa1;
$color-blue-neon: #0096ff;
$color-blue-dark: #3330e4;
$color-yellow: #ffea20;
$color-yellow-light: #fcf876;
$color-green-light: #c0ffb3;
$color-red-neon: #fc2947;
$color-green-neon: #16ff00;
