

header.header
  nav.nav.nav--movies 
    a.nav__el(href='/')
     img(src='/img/logo-heder-img.png' alt='Funky Monkey logo')
  
    
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name} profile photo`)
        span= user.name.split(' ')[0]
    else 
       
      a.nav__el--cta2(href='/login' title=`x`)  
        svg.overview-box__icon2
          use(xlink:href=`/img/icons.svg#icon-account_circle`)      
