extends base

block content
  
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error There's something really messed up going on!   
        h2.error__emoji  🫤
      .error__msg= msg